<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^chat$" ignoreCase="false" />
                    <action type="Rewrite" url="/pages/chat.php?user_id=0" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^chat/([0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="/pages/chat.php?user_id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^logout/([0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="/php/logout.php?logout_id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^login$" ignoreCase="false" />
                    <action type="Rewrite" url="/pages/login.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^signup$" ignoreCase="false" />
                    <action type="Rewrite" url="/pages/signup.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^users$" ignoreCase="false" />
                    <action type="Rewrite" url="/pages/users.php" appendQueryString="true" />
                </rule>
				<rule name="Imported Rule User Page" stopProcessing="true">
					<match url="^user$" ignoreCase="false" />
					<action type="Rewrite" url="/pages/user.php" appendQueryString="true" />
				</rule>
		<rule name="Imported Rule Verify Page" stopProcessing="true">
					<match url="^verify$" ignoreCase="false" />
					<action type="Rewrite" url="/pages/verify.php" appendQueryString="true" />
				</rule>
		<rule name="Imported Rule Verify Login Code" stopProcessing="true">
					<match url="^login-verify$" ignoreCase="false" />
					<action type="Rewrite" url="/pages/login-verify.php" appendQueryString="true" />
				</rule>

                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^api/chat/send$" ignoreCase="false" />
                    <action type="Rewrite" url="/php/insert-chat.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^api/chat/get$" ignoreCase="false" />
                    <action type="Rewrite" url="/php/get-chat.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^api/users$" ignoreCase="false" />
                    <action type="Rewrite" url="/php/users.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^api/search$" ignoreCase="false" />
                    <action type="Rewrite" url="/php/search.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^api/auth/login$" ignoreCase="false" />
                    <action type="Rewrite" url="/php/login.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^api/auth/signup$" ignoreCase="false" />
                    <action type="Rewrite" url="/php/signup.php" appendQueryString="true" />
                </rule>
		<rule name="Imported Rule 14" stopProcessing="true">
                    <match url="^api/auth/login-verify$" ignoreCase="false" />
                    <action type="Rewrite" url="/php/login-verify.php" appendQueryString="true" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
